{% extends "menu.html" %}
{% block 主体 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/recommend.css' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		
		

	</head>
	<body>
		
		<div class="services-section">
			<div class="inner-width">
				<h1 class="section-title">推荐文章</h1>
				<div class="border"></div>
					<div class="services-container">

						{% for blog in blogs.all %}
						<div class="service-box">
							<div class="service-icon">
								<!-- <i class="fas fa-paint-brush"></i> -->
								<img src="{{blog.image.url}}" alt="" >
								<!-- <a href=""></a> -->
							</div>
							<div class="service-title"><a href="{{blog.id}}">{{blog.title}}</a></div>
							<div class="service-desc">
								{{blog.short_text }}
							</div>		
						</div>
						{% endfor %}
						
						
						
						
					</div>
			</div>
		</div>
		
	</body>

	
</html>
{% endblock 主体 %}