<!doctype html>
<html lang="zh-hans">
<head>
	<meta charset="UTF-8">
	<title>编辑个人信息</title>
</head>
<body>
	<h1></h1>
		<a href="{% url 'myauth:主页' %}">回到主页</a>
		<a href="{% url 'myauth:个人中心' %}">个人中心</a>
				<a href="{% url 'myauth:编辑个人信息' %}">编辑个人信息</a>
		<a href="{% url 'myauth:修改密码' %}">修改密码</a>
		<a href="{% url 'myauth:登出' %}">登出</a>
		<form action="{% url 'myauth:短信验证码' %}" method="POST" >
			{% csrf_token %}
			<button type="submit" >发送短信验证码</button>
			{% if messages %}
				{% for 发短信错误 in messages %}
				{{ 发短信错误 }}
				{% endfor %}
			{% endif %}

		</form>

		<form action="" method="POST">
			{% csrf_token %}
			验证码：<input type="text" name="验证码" required/> 
			{{ 验证码错误 }}
			<p>
				<label for="id_old_password">旧密码:</label> 
				<input type="password" name="old_password" autofocus required id="id_old_password" />
			</p>
			<p>
				<label for="id_new_password1">新密码:</label> 
				<input type="password" name="new_password1" required id="id_new_password1" /> 
				<span class="helptext">
					<ul>
						{{ 改密表单.errors }}
						<li>你的密码不能与其他个人信息太相似。</li>
						<li>你的密码必须包含至少 8 个字符。</li>
						<li>你的密码不能是大家都爱用的常见密码。</li>
						<li>你的密码不能全部为数字。</li>
					</ul>
				</span>
			</p>
			<p>
				<label for="id_new_password2">新密码确认:</label> 
				<input type="password" name="new_password2" required id="id_new_password2" />
			</p>
				
			

			<button type="submit" >提交</button>
		</form>


</body>
</html>
