{% extends "menu.html" %}
{% block 主体 %}
<!doctype html>
<html lang="zh-hans">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>编辑个人信息</title>
	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/edit_style.css' %}">
</head>
<body>
		<!-- <a href="{% url 'myauth:主页' %}">回到主页</a>
		<a href="{% url 'myauth:个人中心' %}">个人中心</a>
				<a href="{% url 'myauth:编辑个人信息' %}">编辑个人信息</a>
		<a href="{% url 'myauth:修改密码' %}">修改密码</a>
		<a href="{% url 'myauth:登出' %}">登出</a> -->



		<form action="" class="form-horizontal form1" method="POST">
		{% csrf_token %}

			<div class="form-group" style="text-align: center;">
	               <h3>修改资料</h3>
      		</div>
       		<div class="form-group">
          	 	<lable class="col-sm-1 control-label">用户名</lable>
	          	<div class="col-sm-11">
	               <input type="text" class="form-control" name="username" value="{{用户.username}}" maxlength="150" required id="id_username" /> 
	            </div>
      		</div>
	       	<div class="form-group">
	          	 <lable class="col-sm-1 control-label">电子邮件地址:</lable>
	          	 <div class="col-sm-11">
	               	<input type="email" class="form-control" name="email" value="{{用户.email}}" maxlength="254" id="id_email" />
	           	</div>
	       	</div>
	       	<div class="form-group">
	           	<lable class="col-sm-1 control-label">昵称:</lable>
	           	<div class="col-sm-11">
	               <input type="text" class="form-control" name="昵称" maxlength="50" id="id_昵称" value="{{用户.普通会员表.昵称}}" />
	        	</div>
        	</div>
        	<div class="form-group">
	           	<lable class="col-sm-1 control-label">生日:</lable>
	           	<div class="col-sm-11">
	               <input type="date" class="form-control" name="生日" id="id_生日" value="{{用户.普通会员表.生日}}" />
	        	</div>
        	</div>
			<div class="form-group btn_box">
				<button class="btn btn-info btn-md" type="submit" >提交</button>
			</div>
   		</form>


</body>
</html>
{% endblock 主体 %}