{% extends "menu.html" %}
{% block 标题 %}登录{% endblock 标题 %}
{% block 主体 %}
<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
	</head>
	<body class="body_login">
		
		<div class="login_box">
			<h2>Login</h2>
			<form action="{% url 'myauth:登录' %}" method="POST">
				{% csrf_token %}
				<div class="inputBox">
					<input type="text" name="username" required="" autocomplete="off" />
					<label>Username</label>
				</div>
				<div class="inputBox">
					<input type="password" name="password" required=""  />
					<label>password</label>
				</div>
				<div class="error">{{错误}}</div>

				{{登录表单.验证码}}
				{{登录表单.errors.验证码}}
				<div class="btn-form">
					<input type="submit" name="" id="" value="登录" />
				</div>
				
			</form>		
		</div>
		
	</body>
</html>
{% endblock 主体 %}


