{% extends "menu.html" %}
{% block 标题 %}登录{% endblock 标题 %}
{% block 主体 %}
<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
	</head>
	<body class="body_signup">
		
		<div class="login_box">
			<h2>Signup</h2>
			<form action="{% url 'myauth:注册' %}" method="POST">
				{% csrf_token %}
				<div class="inputBox">
					<!-- <input type="text" name="用户名" required="" autocomplete="off" /> -->
					<input type="text" name="username" required="" autocomplete="off" />
					<label>Username</label>
				</div>
				<span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span>
				<div class="inputBox">
					<!-- <input type="password" name="密码" required=""  /> -->
					<input type="password" name="password1" required=""  />
					<label>password</label>
				</div>
				<div class="inputBox">
					<!-- <input type="password" name="确认密码" required=""  /> -->
					<input type="password" name="password2" required=""  />
					<label>password</label>
				</div>
				<div class="error">{{ 注册表单.errors.username }}{{ 注册表单.errors.password1 }}{{ 注册表单.errors.password2 }}{{ 用户名格式错误 }}{{ 密码格式错误 }}</div>
				
				
		

				<!-- <ul>
		 		<li>你的密码不能与其他个人信息太相似。</li>
		 		<li>你的密码必须包含至少 6 个字符。</li>
		 		<li>你的密码不能是大家都爱用的常见密码。</li>
		 		<li>你的密码不能全部为数字。</li>
		 		</ul> -->





				<!-- <p>
					<label for="id_email">电子邮件地址:</label> 
					<input type="email" name="email" maxlength="254" id="id_email" />
					{{ 注册表单.errors.email }}
				</p>
				<p>
					<label for="id_昵称">昵称:</label> 
					<input type="text" name="昵称" maxlength="50" id="id_昵称" />
					{{ 注册表单.errors.昵称 }}
				</p>
				<p>
					<label for="id_生日">生日:</label> 
					<input type="date" name="生日" id="id_生日" /></p>
					{{ 注册表单.errors.生日 }}
					{{ 注册表单.验证码 }}
					{{ 注册表单.errors.验证码 }}
				</p> -->


				<div class="btn-form"">
					<input type="submit" name="" id="" value="立即注册" />
				</div>



			</form>		
		</div>
		
	</body>
</html>
{% endblock 主体 %}