<!doctype html>
<html lang="zh-hans">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	{% load static %}
</head>
<body>
	<h1>222</h1>
		<a href="{% url 'myauth:主页' %}">回到主页</a>
		<a href="{% url 'myauth:编辑个人信息' %}">编辑个人信息</a>
		<a href="{% url 'myauth:修改密码' %}">修改密码</a>
		<a href="{% url 'myauth:登出' %}">登出</a>


	<div>
		<p>{{ 用户.username }}</p>
		<p>{{ 用户.邮箱 }}</p>
		<p>{{ 用户.普通会员表.昵称}}</p>
		<p>{{ 用户.普通会员表.生日}}</p>
		<p><img src="/static/icon/3aa579b9-2758-468b-8c4f-90fb7deadd6e.jpg"></p>
		<p>{{用户.普通会员表.用户头像}}</p>


	</div>

</body>
</html>
