{% extends "menu.html" %}
{% block 主体 %}
<!doctype html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/slidershow.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu_style.css' %}">

    <title>Jyhoby主页</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

  </head>
  
  

  <body class="by2">
    <div><img src="{% static 'img/homepage-head.png' %}" alt="" class="homeimg"></div>
    <div>
    <div class="slidershow middle">
      <div class="slides">
        <input type="radio" name="r" id="r1" checked />
        <input type="radio" name="r" id="r2" />
        <input type="radio" name="r" id="r3" />
        <input type="radio" name="r" id="r4" />
        <input type="radio" name="r" id="r5" />
    
        <div class="slide s1">
          <img src="{% static 'img/1.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/2.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/3.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/4.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/5.jpg' %}" alt="" />  
        </div>    
      </div>
      
      <div  id="t" class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>       
      </div>
    </div>
    </div>
  </body>
  <script>
        var j=1;
        var lis = t.getElementsByTagName("label")
        lis[0].style.backgroundColor = "#fff"
        for (var i=0; i<lis.length; i++) 
        {
          lis[i].index = i
          lis[i].onclick = function()
          {
            j=this.index
            for (let k=0; k<lis.length; k++) 
                    {
              lis[k].style.backgroundColor = "" //将所有列表颜色清空
            }
            // 再将点击的li加颜色
      
            lis[j].style.backgroundColor = "#fff"
          }
        }
        
        
                setInterval(
                  function()
                  {
                    lis[j].click();
                    for (let k=0; k<lis.length; k++) 
                    {
              lis[k].style.backgroundColor = "" //将所有列表颜色清空
            }
        // 再将点击的li加颜色
      
            lis[j].style.backgroundColor = "#fff"
                    if(j==4){j=0}
                    else{j++;}
                  },2000);
        
  </script>
</html>

{% endblock 主体 %}