{% extends "menu.html" %}
{% block 主体 %}
<!doctype html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <link rel="stylesheet" href="{% static 'css/slidershow.css' %}">


    <title>Jyhoby主页</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body class="by2">
    <div>
    <div class="slidershow middle">
      <div class="slides">
        <input type="radio" name="r" id="r1" checked />
        <input type="radio" name="r" id="r2" />
        <input type="radio" name="r" id="r3" />
        <input type="radio" name="r" id="r4" />
        <input type="radio" name="r" id="r5" />
    
        <div class="slide s1">
          <img src="{% static 'img/1.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/2.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/3.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/4.jpg' %}" alt="" />  
        </div>
        <div class="slide">
          <img src="{% static 'img/5.jpg' %}" alt="" />  
        </div>    
      </div>
      
      <div  id="t" class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>       
      </div>
    </div>
    </div>


   <!--  <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">我的主页</h1>
          <img src="{% static 'tupian.jpg'%}" width="100%">
          <p>
            <a href="blog" class="btn btn-primary my-2">我的博客</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
          	{% for gallery in gallerys.all  %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{gallery.image.url}}">
                <div class="card-body">
                  <p class="card-text">{{gallery.description}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	

  </body>
  <script>
        var j=1;
        var lis = t.getElementsByTagName("label")
        lis[0].style.backgroundColor = "#fff"
        for (var i=0; i<lis.length; i++) 
        {
          lis[i].index = i
          lis[i].onclick = function()
          {
            j=this.index
            for (let k=0; k<lis.length; k++) 
                    {
              lis[k].style.backgroundColor = "" //将所有列表颜色清空
            }
            // 再将点击的li加颜色
      
            lis[j].style.backgroundColor = "#fff"
          }
        }
        
        
                setInterval(
                  function()
                  {
                    lis[j].click();
                    for (let k=0; k<lis.length; k++) 
                    {
              lis[k].style.backgroundColor = "" //将所有列表颜色清空
            }
        // 再将点击的li加颜色
      
            lis[j].style.backgroundColor = "#fff"
                    if(j==4){j=0}
                    else{j++;}
                  },2000);
        
  </script>
</html>

{% endblock 主体 %}