{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="author" content="">
		<title>Jyhoby主页</title>
		<link rel="stylesheet" href="{% static 'css/all.css' %}">
		<link rel="stylesheet" href="{% static 'css/menu_style.css' %}">
    	<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
	</head>
	<body>
		<div class="box">
			<ul class="left-box">
				<li class="li2"><a class="menu-a" href="{% url '主页' %}">主页</a></li>
				<li class="li2"><a class="menu-a" href="{% url '博客' %}">博客</a></li>

				<!-- <li class="li2"><a class="menu-a" href="{% url 'todolist:主页' %}">待办事项</a></li> -->
				<!-- <li class="li2"><a class="menu-a" href="{% url '产品列表主页' %}">产品列表</a></li> -->

				<li class="li2"><a class="menu-a" href="{% url 'todolist:关于' %}">关于</a></li>
			</ul>
			<ul class="auth-box">
				<div class="auth-middle">
					<div class="sm-container">
						<i class="show-btn fas fa-user"></i>
						<div class="sm-menu">
							<a href="#"><i class="fas fa-mobile-alt"></i></a>
							<a href="#"><i class="fab fa-weixin"></i></a>
							<a href="#"><i class="fab fa-qq"></i></a>
							<a href="{% url 'myauth:编辑个人信息' %}"><i class="fas fa-user-edit"></i></a>
							<a href="#"><i class="fas fa-user-friends"></i></a>
						</div>
					</div>
				</div>
			</ul>

			<ul class="right-box">
				
			{% if user.is_authenticated %}
			
			<li class="li2"><a class="menu-a" href="Javascript:{document.getElementById('退出').submit()}">退出</a></li>
			<form id='退出' method='POST' action="{% url 'myauth:登出' %}" >
          	{% csrf_token %}
          	<input type='hidden' >
       		</form>
			{%  else %}
			<li class="li2"><a class="menu-a" href="{% url 'myauth:登录' %}">登录</a></li>
			<li class="li2"><a class="menu-a" href="{% url 'myauth:注册' %}">注册</a></li>
			{% endif %}	
							
			</ul>
		</div>
		
			

		
		
				


		<main role="main" class="container">
    	{% block 主体 %}
    	{% endblock 主体 %}
    	</main>
		

		
	</body>
	<script>
			$(".show-btn").click(function(){
				$(".sm-menu").fadeToggle("fast");
			});
		</script>
</html>
